<div class="dark-matter">
  <p id="notice"><%= notice %></p>

  <h1>Listing Kinds</h1>

  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @kinds.each do |kind| %>
        <tr>
          <td><%= kind.description %></td>
          <td><%= link_to t('buttons.show'), kind %></td>
          <td><%= link_to t('buttons.edit'), edit_kind_path(kind) %></td>
          <td><%= link_to t('buttons.destroy'), kind, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to t('buttons.kind'), new_kind_path, class: "btn btn-success" %>
  <%= link_to t('buttons.home'), root_path, class: "btn btn-primary" %>
</div>
